<div class="news container pt-2 pb-2" id="tintuc">
    <div class="row my-4">
        <div class="col-sm-6 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a
                        href="https://tix.vn/goc-dien-anh/7962-vua-dep-lai-vua-tai-nang-dan-sao-nam-cua-phim-ban-tay-diet-quy-dam-bao-don-tim-hoi-chi-em">
                        <img src="https://s3img.vcdn.vn/123phim/2021/03/1440x600-d04f3c.jpg" width="100%" height="250px"
                            class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a
                        href="https://tix.vn/goc-dien-anh/7962-vua-dep-lai-vua-tai-nang-dan-sao-nam-cua-phim-ban-tay-diet-quy-dam-bao-don-tim-hoi-chi-em">VỪA
                        ĐẸP LẠI VỪA TÀI NĂNG, DÀN SAO NAM CỦA PHIM “BÀN TAY DIỆT QUỶ”
                        ĐẢM BẢO ĐỐN TIM HỘI CHỊ EM.</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a
                        href="https://tix.vn/goc-dien-anh/7963-promising-young-woman-bong-hong-nuoc-anh-carey-mulligan-va-man-tra-thu-dan-ong-de-doi">
                        <img src="https://s3img.vcdn.vn/123phim/2021/03/promising-young-woman-bong-hong-nuoc-anh-carey-mulligan-va-man-tra-thu-dan-ong-de-doi-16166710855522.png"
                            width="100%" height="250px" class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a
                        href="https://tix.vn/goc-dien-anh/7963-promising-young-woman-bong-hong-nuoc-anh-carey-mulligan-va-man-tra-thu-dan-ong-de-doi">PROMISING
                        YOUNG WOMAN | Bông hồng nước Anh Carey Mulligan và màn
                        trả thù đàn ông để đời.</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a
                        href="https://tix.vn/goc-dien-anh/7965-an-dinh-chac-nich-ngay-khoi-chieu-16-04-ly-hai-tung-clip-lat-mat-48h-dam-chat">
                        <img src="https://s3img.vcdn.vn/123phim/2021/03/an-dinh-chac-nich-ngay-khoi-chieu-16-04-ly-hai-tung-clip-lat-mat-48h-dam-chat-fast-furious-mien-song-nuoc-16170881088272.png"
                            width="100%" height="250px" class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a
                        href="https://tix.vn/goc-dien-anh/7965-an-dinh-chac-nich-ngay-khoi-chieu-16-04-ly-hai-tung-clip-lat-mat-48h-dam-chat">Ấn
                        định chắc nịch ngày khởi chiếu 16.04, Lý Hải tung clip Lật
                        Mặt: 48H đậm chất</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a
                        href="https://tix.vn/goc-dien-anh/7964-mortal-kombat-cuoc-chien-sinh-tu-goi-ten-nhung-phim-dien-anh-noi-tieng-duoc-chuyen-the-tu-cac-tua-game-dinh-dam">
                        <img src="https://s3img.vcdn.vn/123phim/2021/03/mortal-kombat-cuoc-chien-sinh-tu-goi-ten-nhung-phim-dien-anh-noi-tieng-duoc-chuyen-the-tu-cac-tua-game-dinh-dam-16170160290762.png"
                            width="100%" height="250px" class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a
                        href="https://tix.vn/goc-dien-anh/7964-mortal-kombat-cuoc-chien-sinh-tu-goi-ten-nhung-phim-dien-anh-noi-tieng-duoc-chuyen-the-tu-cac-tua-game-dinh-dam">CUỘC
                        CHIẾN SINH TỬ] - GỌI TÊN NHỮNG PHIM ĐIỆN ẢNH NỔI TIẾNG
                        ĐƯỢC CHUYỂN THỂ TỪ CÁC TỰA GAME ĐÌNH ĐÁM</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-12 ">

                    <div class="new-item3 d-flex ">
                        <div class="new-img w-50"><a
                                href="https://tix.vn/goc-dien-anh/7961-khai-truong-rap-xin-gia-ngon-chuan-xi-tai-sai-gon"><img
                                    width="100%" height="100px"
                                    src="https://s3img.vcdn.vn/123phim/2021/01/e48d954f1188e26cb09f00e1c2a4c168.png"
                                    alt=""></a></div>
                        <div class="new-title w-50">
                            <a
                                href="https://tix.vn/goc-dien-anh/7961-khai-truong-rap-xin-gia-ngon-chuan-xi-tai-sai-gon">Khai
                                trương rạp xịn giá ngon...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">

                    <div class="new-item3 d-flex ">
                        <div class="new-img w-50"><a
                                href="https://tix.vn/goc-dien-anh/7957-tiec-trang-mau-chinh-thuc-can-moc-100-ty-chi-sau-2-tuan-cong-chieu"><img
                                    width="100%" height="100px"
                                    src="https://s3img.vcdn.vn/123phim/2020/11/a8963d351c6d3fd2764171e2bc066d04.jpg"
                                    alt=""></a></div>
                        <div class="new-title w-50">
                            <a
                                href="https://tix.vn/goc-dien-anh/7957-tiec-trang-mau-chinh-thuc-can-moc-100-ty-chi-sau-2-tuan-cong-chieu">Tiệc
                                Trăng Máu chính thức cán mốc ...</a>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="new-item3 d-flex ">
                            <div class="new-img w-50"><a
                                    href="https://tix.vn/goc-dien-anh/7960-boc-tem-to-hop-giai-tri-moi-toanh-cua-gioi-ha-thanh"><img
                                        width="100%" height="100px"
                                        src="https://s3img.vcdn.vn/123phim/2020/11/0178533e596599f3ac3a1e01088e5859.jpg"
                                        alt=""></a></div>
                            <div class="new-title w-50">
                                <a
                                    href="https://tix.vn/goc-dien-anh/7960-boc-tem-to-hop-giai-tri-moi-toanh-cua-gioi-ha-thanh">“Bóc
                                    tem” tổ hợp giải trí mới ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PHAN NAY TA DUN GRID SYSTEM OF BOOTSTRAP :CONTAINER->ROW->COL(LAI CO 1 COL NEST 3 COL-12 NHO HON) -->