<div class="fluid-container app" id="app-mobile">
    <div class="row overlay-app">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="mobile-text">
                <h2>Try this app today</h2>
                <p>This is extremely convenient for booking movie
                    <br> anytime in anywhere!!!
                </p>
                <button class="btn btn-danger">Download Now</button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 ">

            <div class="mobile-img ml-5" style="width: 20%;">
                <!-- Slide  Mobile with Owl Carousel -->
                <owl-carousel-o [options]="customOptions" class="slide">
                    <ng-template carouselSlide><img src="https://abdalmoniem.github.io/Movie-App/images/screenshot1.png"
                            height="30%" width="30%" alt=""></ng-template>
                    <ng-template carouselSlide><img src="https://abdalmoniem.github.io/Movie-App/images/screenshot2.png"
                            height="30%" width="30%" alt=""></ng-template>
                    <ng-template carouselSlide><img src="https://abdalmoniem.github.io/Movie-App/images/screenshot4.png"
                            height="30%" width="30%" alt=""></ng-template>
                    <ng-template carouselSlide><img src="https://abdalmoniem.github.io/Movie-App/images/screenshot2.png"
                            height="30%" width="30%" alt=""></ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>