<div class="fluid-container">
        <owl-carousel-o [options]="customOptions" class="slide">
                <ng-template carouselSlide><img
                                src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980_x_448_2.png"
                                alt=""></ng-template>
                <ng-template carouselSlide><img
                                src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/t/ctkc_seobok_980x448_2.jpg"
                                alt=""></ng-template>
                <ng-template carouselSlide><img
                                src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_21_.jpg"
                                alt=""></ng-template>
                <ng-template carouselSlide><img
                                src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_18_.jpg"
                                alt=""></ng-template>
        </owl-carousel-o>
</div>