<footer>
    <div class="footer__above">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="touch">
                        <h3>GET IN TOUCH</h3>
                        <div class="touch__list">
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Give us feedback</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="touch">
                        <h3>ABOUT MOVIE STAR</h3>
                        <div class="touch__list">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Find us</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="touch">
                        <h3>LEGAL STUFF</h3>
                        <div class="touch__list">
                            <ul>
                                <li><a href="#">Terms & Conditions</a>
                                </li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Cookie policy</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="touch">
                        <h3>CONNECT WITH US</h3>
                        <div class="touch__list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i>Google +</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__below">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span>2017 © Hot Movie/</span>
                    <a href="" class="klever">Web design by Hot Movie</a>
                </div>
            </div>
        </div>
    </div>

</footer>