<div class="review container pt-2 pb-2">
    <div class="row my-4">
        <div class="col-sm-6 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a href="https://tix.vn/review/7947-review-tan-tich-quy-am-relic-ba-the-he-va-moi-lien-ket">
                        <img src="https://s3img.vcdn.vn/123phim/2020/08/Relic-895aa2.jpg" width="100%" height="250px"
                            class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a href="https://tix.vn/review/7947-review-tan-tich-quy-am-relic-ba-the-he-va-moi-lien-ket">
                        Review: Tàn Tích Quỷ Ám (Relic) </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a href="https://tix.vn/review/7946-review-dinh-thu-oan-khuat-ghost-of-war">
                        <img src="https://s3img.vcdn.vn/123phim/2020/08/2-c41982.jpg" width="100%" height="250px"
                            class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a href="https://tix.vn/review/7946-review-dinh-thu-oan-khuat-ghost-of-war">Review: Dinh Thự Oan
                        Khuất.</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a href="https://tix.vn/review/7924-blackkklansman-coc-nuoc-lanh-de-nguoi-my-thuc-tinh">
                        <img src="https://s3img.vcdn.vn/123phim/2020/06/a672230c13568cd7255a3ba17591a89a-250ae9.jpg"
                            width="100%" height="250px" class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a href="https://tix.vn/review/7924-blackkklansman-coc-nuoc-lanh-de-nguoi-my-thuc-tinh">‘BlacKkKlansman’
                        - cốc nước lạnh để người Mỹ thức tỉnh</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 new-content">
            <div class="new-item">
                <div class="new-img">
                    <a href="https://tix.vn/review/7918-american-sniper-chinh-nghia-hay-phi-nghia">
                        <img src="https://s3img.vcdn.vn/123phim/2020/05/maxresdefault-e2bcfc.jpg" width="100%"
                            height="250px" class="" alt="..." />
                    </a>
                </div>
                <div class="new-title">
                    <a href="https://tix.vn/review/7918-american-sniper-chinh-nghia-hay-phi-nghia">American Sniper -
                        Chính nghĩa hay phi nghĩa?</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-12 ">

                    <div class="new-item3 d-flex ">
                        <div class="new-img w-50"><a
                                href="https://tix.vn/review/7894-review-spider-man-into-the-spider-vesre"><img
                                    width="100%" height="100px"
                                    src="https://s3img.vcdn.vn/123phim/2020/04/Untitled-1-af24d1.jpg" alt=""></a></div>
                        <div class="new-title w-50">
                            <a href="https://tix.vn/review/7894-review-spider-man-into-the-spider-vesre">Review:
                                Spider-Man:...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">

                    <div class="new-item3 d-flex ">
                        <div class="new-img w-50"><a
                                href="https://tix.vn/review/7882-review-sieu-ve-si-so-vo-giai-cuu-tong-thong-chua-bao-gio-lay-loi-va-hai-huoc-den-the"><img
                                    width="100%" height="100px"
                                    src="https://s3img.vcdn.vn/123phim/2020/03/review-sieu-ve-si-so-vo-giai-cuu-tong-thong-chua-bao-gio-lay-loi-va-hai-huoc-den-the-15840925506832.jpg"
                                    alt=""></a></div>
                        <div class="new-title w-50">
                            <a
                                href="https://tix.vn/review/7882-review-sieu-ve-si-so-vo-giai-cuu-tong-thong-chua-bao-gio-lay-loi-va-hai-huoc-den-the">[Review]
                                Ve Si So Vo...</a>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="new-item3 d-flex ">
                            <div class="new-img w-50"><a
                                    href="https://tix.vn/review/7881-review-bloodshot-mo-man-an-tuong-cho-vu-tru-sieu-anh-hung-valiant"><img
                                        width="100%" height="100px"
                                        src="https://s3img.vcdn.vn/123phim/2020/03/review-bloodshot-mo-man-an-tuong-cho-vu-tru-sieu-anh-hung-valiant-15840729279909.jpg"
                                        alt=""></a></div>
                            <div class="new-title w-50">
                                <a
                                    href="https://tix.vn/review/7881-review-bloodshot-mo-man-an-tuong-cho-vu-tru-sieu-anh-hung-valiant">[Review]
                                    Bloodshot ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PHAN NAY TA DUN GRID SYSTEM OF BOOTSTRAP :CONTAINER->ROW->COL(LAI CO 1 COL NEST 3 COL-12 NHO HON) -->