<div class="mt-3 showing container ">
    <h1 class="text-center mb-5 mt-5 text-white">Now Showing </h1>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let movie of movieList" class="slide ">
            <div class="card">
                <div class="tag">
                    <span class="text">
                        <p>{{movie.danhGia}}<i class="fa fa-star" style="color:yellow"></i>
                        </p>
                    </span>
                </div>
                <img [src]="movie.hinhAnh" alt="" class="card-img-top" width="200" height="250">
                <div class="card-body">
                    <p>{{movie.tenPhim}}</p>
                    <span class="mr-2">Thoi luong: 120phut</span><button class="btn btn-warning">2D</button>
                </div>
                <div class="overlay">
                    <div class="text">
                        <button class="btn-book" routerLink='trangchitiet/{{movie.maPhim}}'>Book Ticket<br>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>