<div class="container">

  <div class="row justify-content-center">
    <div class="col-sm-6 mt-5 mb-5">
      <!--
        - ngForm cung cấp các phương thức quản lý form
        - Giờ đây ta có thể sử dụng signinForm.value để lấy ra tất cả giá trị của các input bên trong tag form, nhưng input phải thoả mãn 2 đk là phải có property name và ngModel đứng 1 mình
      -->
      <form #signinForm="ngForm" (ngSubmit)="handleSignin()" class="mt-4 mb-4">
        <!-- <pre>{{ signinForm.value | json }}</pre> -->
        <h1 class="text-center text-white">Sign In</h1>
        <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" name="taiKhoan" ngModel required minlength="3" maxlength="20"
            #taiKhoan="ngModel" />
          <div *ngIf="taiKhoan.invalid && (taiKhoan.dirty || taiKhoan.touched)" class="alert alert-danger">
            <span *ngIf="taiKhoan.errors?.required">
              Tài khoản không được để trống
            </span>
            <span *ngIf="taiKhoan.errors?.minlength || taiKhoan.errors?.maxlength">
              Tài khoản phải từ 3 đến 20 kí tự
            </span>
          </div>
          <!-- <pre>{{ taiKhoan.errors | json }}</pre> -->
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="matKhau" ngModel required #matKhau="ngModel" />
          <div *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)" class="alert alert-danger">
            <span *ngIf="matKhau.errors?.required">
              Mật khẩu không được để trống
            </span>
            <span *ngIf="matKhau.errors?.pattern">
              Mật khẩu không đúng định dạng
            </span>
          </div>
          <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
          <!-- <pre>{{ matKhau.errors | json }}</pre> -->
        </div>

        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>

        <div class="text-center"> <button class="btn btn-success mr-2 w-50" [disabled]="isLoading">
            Sign In
          </button></div>
        <div class="text-center"> <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          <p class="mt-2">If you have no account?</p>
          <button routerLink="/signup" class="btn btn-primary ml-2">Sign Up now ! </button>
        </div>
      </form>
    </div>
  </div>
</div>